<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bulletin.board.mapper.PostMapper">



    <select id="getAll" resultType="Post">
        SELECT 
            id,
            number_post AS numberPost,
            title,
            author,
            views,
            createdAt,
            updatedAt
        FROM posts
        WHERE deletedAt IS NULL
        ORDER BY number_post ASC
    </select>

    <select id="getById" resultType="Post">
        SELECT 
            id,
            number_post AS numberPost,
            title,
            author,
            password,
            content,
            views,
            createdAt,
            updatedAt
        FROM posts
        WHERE id = #{id}
        AND deletedAt IS NULL
    </select>

    <insert id="createPost" parameterType="Post" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO posts (
            number_post, title, author, password, content, views, createdAt, deletedAt
        )
        VALUES (
            nextval('post_number_seq'),
            #{title},
            #{author},
            #{password},
            #{content},
            0,
            NOW(),
            NULL
        )
    </insert>

    <update id="updatePost">
        UPDATE posts
        SET title = #{title},
            author = #{author},
            content = #{content},
            updatedAt = NOW()
        WHERE id = #{id} AND deletedAt IS NULL
    </update>

    <update id="deletePost">
        UPDATE posts
        SET deletedAt = NOW()
        WHERE id = #{id} AND deletedAt IS NULL
    </update>

    <update id="views">
        UPDATE posts
        SET views = views + 1
        WHERE id = #{id} AND deletedAt IS NULL
    </update>

</mapper>